# This is the environment for Groove on Demand. You can (re)populate your own environment
# by running the following command from the command-line:
#
# groove setup
#

DATABASE_PATH=groove_on_demand.db

# Admin user credentials
USERNAME=evilchili
PASSWORD=fnord

# Web interface configuration
HOST=127.0.0.1
PORT=2323
THEMES_PATH=themes
DEFAULT_THEME=blue_train
SECRET_KEY=fnord

# Media scanner configuration
MEDIA_ROOT=/mnt/grunt/music/FLAC
MEDIA_GLOB=*.mp3,*.flac,*.m4a

# Set this value to enable debugging
DEBUG=
