html {
  width: 100%;
  height: 100%;  
  overflow: hidden;
  padding: 0;
  margin: 0;
  outline: 0;
  font-family: 'Clarendon MT Std', sans-serif;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: rgb(0,4,16);
  background: linear-gradient(0deg, rgba(0,4,16,1) 31%, rgba(1,125,147,1) 97%);
}

a, a:visited {
    text-decoration: none;
    color: #f1f2f6;
}
a:active, a:hover {
    color: #70bc45;
}

#container {
    overflow-x: wrap;
    width: 96%;
    height: 96%;
    margin: auto;
    margin-top: 1em;
}

#details {
    margin-left: 0.25em;
    display: flex;
    border-bottom: 1px solid rgb(255,255,255,0.3);
}

#poster {
    display: none;
    width: 10em;
    height: 10em;
    background: #DDD;
}
#poster > img {
    display: none;
}


/* informmation */
#playlist_title {
    margin-bottom: 0.25em;
    color: #f1f2f6;
}
#playlist_desc {
}



#player {
    width: 100%;
    margin: 1em 0;
}

#controls {
    width: 5em;
    height: 5em;
    vertical-align: middle;
    padding-right: 1em;
}
#controls > div {
    width: 5em;
    height: 5em;
}


#track {
    color: #70bc45;
    font-size: 1.5em;
}

#track_controls {
    display: flex;
}

#timer {
    margin-left:0;
    padding-left:0;
}
#duration {
}

/* Controls */
.widget {
    margin-right: 0.5em;
    padding: 0 0.5em;
}
.btn {
  cursor: pointer;
  opacity: 0.75;
}
.btn:hover {
  opacity: 1;
}
#big_button {
  position: relative;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  line-height: 5em;
}
#playBtn {
  font-family: sans-serif;
  font-size: 5em;
  padding-left: 0.1em;
}
#pauseBtn {
  font-family: sans-serif;
  display: none;
  font-size: 4em;
}
#prevBtn {
  color: #fff;
  text-align: right;
  vertical-align: middle;
  line-height: 0.75em;
  font-size: 1.5em;
  padding:0;
}
#nextBtn {
  color: #fff;
  text-align: left;
  vertical-align: middle;
  line-height: 0.75em;
  font-size: 1.5em;
  padding:0;
}


/* Progress */
#bar {
  position: relative;
  flex-grow: 1;
  text-align: center;
  vertical-align: middle;
  line-height: 1em;
}
#bar > hr {
    border: none;
    border-bottom: 1px solid #000;
    position: absolute;
    height: 1px;
    width: calc(100% - 1em);
}

#progress {
  position: relative;
  width: 0%;
  height: 0.33em;
  margin: 0.33em 0;
  background-color: #bbb;
}

/* Loading */
#loading {
  display: none;
}

/* Plylist */
#playlist {
  display: block;
  margin-left: 0.25em;
}
#list {
    font-size: 1.25em;
}
.list-song {
    padding: 0.25em;
}
.list-song:hover {
  cursor: pointer;
  background: #f1f2f6;
}

#footer {
    font-family: helvetica, sans-serif;
    border-top: 1px solid rgb(128,128,128,0.3);
    text-align: right;
    color: #888;
    font-size: 0.9em;
    letter-spacing: 0.1em;
    margin: 0;
    margin-top: 1em;
    padding-top: 1em;
}
#footer a {
    color: #aaa;
}

/* Volume */
#volume {
  display: none;
}
.bar {
}
#barEmpty {
  width: 90%;
  opacity: 0.5;
  cursor: pointer;
}
#barFull {
  width: 90%;
}
#sliderBtn {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

/* Fade-In */
.fadeout {
  webkit-animation: fadeout 0.5s;
  -ms-animation: fadeout 0.5s;
  animation: fadeout 0.5s;
}
.fadein {
  webkit-animation: fadein 0.5s;
  -ms-animation: fadein 0.5s;
  animation: fadein 0.5s;
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}
@-webkit-keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}
@-ms-keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}
